.header {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  background-color: #0a0a0a;
  color: aliceblue;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title {
  padding-left: 25px;
}

.header .logo {
  padding: 8px;
}