.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex: 1 1 auto;
  z-index: 1;
  display: flex;
  flex-wrap: wrap ;
  align-items: center;
  background-color: #0a0a0a;
  color: aliceblue;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title {
  padding-left: 25px;
}

.header .logo {
  padding: 8px;
  margin-left: 35px;
}

.menu-bar{
float: right;}

@media only screen and (max-device-width: 900px) {
  body {
    width: 100%;
  }

  .header {
    height: auto;
  }
}