.homepage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.homepage .subtitle {
  font-size: 0.8rem;
  margin-left: 35px;
}

.user-form {
  margin-top: 30px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
}

.btn-edit {
  float: left;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-delete {
  float: right;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 900px) {
  body {
    width: 100%;
  }
}