.homepage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.homepage .subtitle {
  font-size: 0.8rem;
}

.user-form {
  margin-top: 30px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

form {
  display: flex;
  flex-direction: column;
}