.homepage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.homepage .subtitle {
  font-size: 1rem;
  color: #530b0b;
}

.button-user-creator{
  margin-top: 40px;
  margin-bottom: 30px;
  color: #990a0a;
  border: solid 2px #990a0a;
  background-color: #fff;
  border-radius: 10px;
  height: 40px;
}