<mat-card class="homepage mat-elevation-z3">
  <mat-card-title class="title">
    Cadastro Facilitado
  </mat-card-title>
  <mat-card-subtitle class="subtitle">
    Informe seu nome de usuário no GitHub para sincronizar os dados.
  </mat-card-subtitle>
</mat-card>

<mat-card class="user-form">
  <mat-card-title class="form-title">Novo Cadastro</mat-card-title>
  <hr>
  <form>
    <mat-form-field> Usuário GitHub
      <input matInput [(ngModel)]="user.login" name="login" required>
    </mat-form-field>
    <mat-form-field> Avatar Url
      <input matInput [(ngModel)]="user.avatar_url" name="avatar" required>
    </mat-form-field>
    <mat-form-field> Nome
      <input matInput [(ngModel)]="user.name" name="name" required>
    </mat-form-field>
    <mat-form-field> Email
      <input matInput [(ngModel)]="user.email" name="email" email required>
    </mat-form-field>
    <mat-form-field> Cidade
      <input matInput [(ngModel)]="user.cidade" name="cidade" required>
    </mat-form-field>
    <hr>
    <h3>PROFISSIONAL</h3>
    <mat-form-field> Formação
      <input matInput [(ngModel)]="user.formacao" name="formacao" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="ex. HTML, CSS, JavaScript, Angular"  [(ngModel)]="user.tecnologias" name="tecnologias" required></textarea>
      Tecnologias
    </mat-form-field>
  </form>
  <button class="btn-send" mat-raised-button (click)="createUser()" color="primary">Cadastrar</button>
  <button class="btn-back" mat-raised-button (click)="backToHome()">Voltar</button>
</mat-card>
