.homepage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 60px;
  margin-left: 35px;
}

.homepage .subtitle {
  font-size: 0.8rem;
}

.title-div {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img {
  width: 17rem;
  padding: 30px;
}

.text-origem {
  width: 100%;
  text-align: justify;
  padding: 30px;
  font-size: 15px;
}

.text-dna {
  width: 100%;
  text-align: justify;
  padding: 30px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #530b0b;
}

.container {
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  padding-left: 35px;
  justify-content: space-between;
}


@media only screen and (max-device-width: 900px) {
  body {
    width: auto;
  }
  img {
    width: 30%;
    align-items: center;
  }
}