.homepage .title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 60px;
  margin-left: 35px;
}

.homepage .subtitle {
  font-size: 0.8rem;
  margin-left: 35px;
}

.user-form {
  padding-top: 150px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

  .mat-card-title {
    text-align: center;
  }

form {
  display: flex;
  flex-direction: column;
}

.btn-edit {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.btn-delete {
  margin-top: 40px;
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 900px) {
  body {
    width: 100%;
  }
}